@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
    background: linear-gradient(to right bottom, #007673, #0e0066);
    font-family: 'Poppins', sans-serif;
}

h1 {
    color: white;
    font-size: 40px;
}

.container {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

table {
    margin: 0 auto;
}

th {
    color: white;
}

input {
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
}

button {
    min-width: 120px;
    margin: 20px 10px;
    padding: 10px;
    font-size: 20px;
    background-color: white;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #e0e0e0;
}

.countdown {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.countdown div {
    position: relative;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 20px;
    margin: 0 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.heading {
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.time {
    color: white;
    font-size: 60px;
}
